*{
    margin: auto;
    padding: 1;
    box-sizing: border-box;
}

/* TAG */
header{
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-size: 20%;
    background-color: aqua;
    height: 100px;
}


/* CLASS */
.logo{
    width: 250px;
    height: 100px;
    object-position: 0px 15px;
}

.title-font-size{
    font-size: 500;
}
.blue-font-color{
    color: blue;
}
.grey-font-color{
    color: grey;
}
.highlighted-yellow-text{
    background-color: yellow;
}