*{
    margin: auto;
    padding: 1;
    box-sizing: border-box;
}

/* TAG */
header{
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-size: 22%;
}
main{
    text-align: left;
    margin: 10px;
}
footer{
    margin: 10px;
}
h1{
    font-size: 40px;
}

/* CLASS */
.logo{
    width: 250px;
    height: 100px;
    object-position: 0px 15px;
}

.title-font-size{
    font-size: 500;
}
.blue-font-color{
    color: #3FB5E9;
}
.grey-font-color{
    color: #858585;
}
.white-font-color{
    color: white;
}
.highlighted-yellow-text{
    background-color: #FFFF00;
}
.photo-footer-00{
    width: 100%;
    height: 200px;
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}
.photo-footer-01{
    width: 100%;
    height: 200px;
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}
.allign-text-photo{
    font-size: 25px;
    color: white;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
  }
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
.just-roboto{
    font-family: "Roboto", sans-serif;

}